<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Log4J Hessian Servlet Web Application</display-name>

	<servlet>
		<servlet-name>log4j-hessian-servlet</servlet-name>
		<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>

		<init-param>
			<param-name>home-class</param-name>
			<param-value>org.googlecode.log4j_hessian.Log4JHessianServiceImpl</param-value>
		</init-param>
		<init-param>
			<param-name>home-api</param-name>
			<param-value>org.googlecode.log4j_hessian.Log4JHessianService</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>log4j-hessian-servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>